/* -_- */

.body-demo-0 {
    background-color: aliceblue; 
    font: 18px/22px Arial, sans-serif;
	height: auto;
    width: auto ;
    color:black;}
     
.header-demo-0 {
	height: 75px;
	background: #bb2419;
    margin-top: 20px;
    position: relative;}

a {
	color: #fff;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus,
.codrops-demos a.current-demo {
	color: #000;
}

/* Content */
.content {
	text-align: center;
	position: relative;
}

h1, h2, h3, h4, h5 ,h6{
    color: #4b4848;
    font-family: "raleway-regular", arial;
    letter-spacing: 1px;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.center { align-content: center; text-align: center;}
/* Content-1 */

header ul.social li a,
.main .work a .caption,
header nav ul li a{
    transition:all .1s linear;
    -webkit-transition:all .1s linear;
    -moz-transition:all .1s linear;
    -o-transition:all .1s linear;
}

/*  Main  */
.main{
    width: 100%;
    height: 100%;
  /*  padding-left: 300px; */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 55;
    background: #f6f6f6;
    clear: both;
}

/*  Home/portfolio  */
.main .work{
    display: block;
    width: 33.33333333333333%;
    height: auto;
    float: left;
    position: relative;
    overflow: hidden;
}

.main .work .media{
    width: 100%;
    vertical-align: middle;
}

.main .work .caption{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    background: #ffffff;
    opacity: 0;
}


.main .work a:hover .caption{
    opacity: 1;
}


.work .caption .work_title{
    display: block;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    margin-top: -40px;
}

.main .work .caption h1{
    position: relative;
    display: inline-block;
    max-width: 90%;
    padding: 20px 0;
    z-index: 77;
    color: #454545;
    font-family: "raleway-regular", arial;
    font-size: 16px;
    letter-spacing: .5px;
    border-bottom: 1px solid #bfbbbb;
    border-top: 1px solid #bfbbbb;
}

@media (max-width:550px){
     .main .work{
        width: 100%;
    }
}










